/* Importo il font direttamente dalla libreria gratuita google font*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* =========================
  1. LAYOUT E STILI GLOBALI
  ==========================*/
body {
  font-family: "Nunito";
}

/* ==============================
  2. STILI APPLICATI ALLA NAVBAR
  ===============================*/
.navbar {
  background-color: #0a2140;
  img {
    height: 8vh;
    padding-bottom: 5px;
    min-height: 54px;
    max-height: 74px;
  }
  span {
    color: gray;
    font-size: small;
  }
}
.offCanvasLinks {
  a {
    font-size: medium;
    font-weight: bold;
  }
}
.navbar .btn-close {
  filter: invert(1);
  width: 24px;
  height: 24px;
}
.navbar.titolo {
  color: #fffffa;
}

/* ====================================================================
  - MEDIAQUERY CHE SERVONO A MODIFICARE LO STILE IN BASE ALLA VIEWPORT
  =====================================================================*/

/* Mediaquery per la dimensione media*/
@media (min-width: 768px) {
  /* ==============================
  2.1. STILI APPLICATI ALLA NAVBAR
  =================================*/
  .linkNav {
    width: 75% !important;
  }
}

/* Mediaquery per la dimensione large*/
@media (min-width: 992px) {
  /* ==============================
  2.2. STILI APPLICATI ALLA NAVBAR
  =================================*/
  .linkNav {
    width: 50% !important;
  }
}
